<footer>
    <div id="disclaimer">
        &copy; 2024 Team 6- Smith, Mondragon, Goodlow, Quintana <br>
        California State University
        Monterey Bay
        </div>
        <div><img id="logoImg" src= "/img/csumb_logo.png"></div>
</footer>