<!-- Header -->
<div class="header-container">
    <!-- Logo -->
    <div class="logo">
        <a href="/" class="d-flex flex-grow-1 gap-3 align-items-end pb-5">
            <img class="logo-icon d-inline" src="/img/popcorn_705062.png" alt="movie tracker logo"/>
            <div class="logo-text d-inline align-self-end">
                Movie <br />
                Tracker
            </div>
        </a>
    </div>

    <div class="right-col">

      <!-- Account Buttons -->
      <div class="account-options">
          <% if (typeof userId != 'undefined') { %>
          <a href="/logout" class="btn login-btn">Log out</a>
          <% } else { %>
        <a href="/login" class="btn login-btn">Sign in</a>
              <% } %>
        <a href="/register" class="btn register-btn">Register</a>
      </div>

      <!-- Search bar -->
      <div class="search-container">
        <input
          type="search"
          id="search-bar"
          name="search"
          placeholder="Search for a movie..."
        />
        <button class="search-btn">Search</button>
      </div>

  </div> <!-- end right-col -->
</div> <!-- end header-container -->
