<!-- Header -->
<div class="header-container">
  <!-- Logo -->
  <div class="logo">
    <img class="logo-icon" src="/img/popcorn_705062.png" />
    <div class="logo-text">
      Movie <br />
      Tracker
    </div>
  </div>
  <!-- Search bar -->
  <div class="search-container">
    <input
      type="search"
      id="search-bar"
      name="search"
      placeholder="Search for a movie..."
    />
    <button class="search-btn">Search</button>
  </div>
</div>
